<!DOCTYPE html>  
<html lang="en">  
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <meta charset="UTF-8">    
    <meta charset="UTF-8">  
    <title>category Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>category</th>
        <th>item </th>
        <th>location</th>
        <th>manufacture</th>
        <th>serial_number </th>
        <th>purchase_date </th>
        <th>vendor</th>
        <th>warranty</th>
        <th>quantity</th>
        <th>cost</th>
        <th>total</th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
  
     
        {% for ca in inv %}
         <tr>
          <td>{{ca.category}}</td>
          <td>{{ca.item}} </td>
          <td>{{ca.location}}</td>
          <td>{{ca.manufacture}}</td>
          <td>{{ca.serial_number}}</td>
          <td>{{ca.purchase_date }}</td>
          <td>{{ca.vendor }}</td>
          <td>{{ca.warranty }}</td>
          <td>{{ca.quantity }}</td>
          <td>{{ca.cost }}</td>
          <td>{{ca.total }}</td>
          <td>Actions</td>
                      <td><a href="/cmanagement/edit/{{ c.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/cmanagement/inventdelete/{{ ca.id }}">Delete</a>  
        </td>
          
        
  
    </tr> 
    {% endfor %}   
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/cmanagement/inventory/" class="btn btn-primary">Add New Record</a></center>
<br>  
<center><a href="/cmanagement/home/" class="btn btn-primary">GO to HOME</a></center>  
</body>    
</body>  
</html> 
 