<!DOCTYPE html>  
<html lang="en">  
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <meta charset="UTF-8">  
    <title>Location details</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action=""  enctype="multipart/form-data">  
        {% csrf_token %} 
        {{ form.as_p }}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>LOCATON DETAILS</h3>  
    </div>  
  </div>
  <div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15782.830502430394!2d76.947937!3d8.5277401!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59ef59f8cb82db2f!2sZewia%20Software%20Solutions%20(P)%20Ltd!5e0!3m2!1sen!2sin!4v1600427208709!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div> 


    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">ENTER LOCATION:</label>  
    <div class="col-sm-4">  
      {{ v.location }}  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>  
  </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>