<!DOCTYPE html>  
<html lang="en">  
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <meta charset="UTF-8">    
    <meta charset="UTF-8">  
    <title>category Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>category</th>
        <th>item </th>    
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
  
     
        {% for cee in c %}
         <tr>
          <td> {{ cee.categoryy }}</td>
          <td> {{ cee.item}}</td>
                      <td><a href="/cmanagement/edit/{{ cee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/cmanagement/alidelete/{{ cee.id }}">Delete</a>  
        </td>
          
        
  
    </tr> 
    {% endfor %}   
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/cmanagement/item/" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html> 
 